@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,700;1,700&display=swap');
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scrollbar-gutter: stable both-edges;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inner-cont-custom {
  margin: 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: repeat(1, 1fr);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  place-items: center;
  gap: 1.93rem;

  @media only screen and (min-width: theme('screens.lg')) {
    position: relative;
  }

  .wp-block-image:first-child {
    width: 100%;
  }

  .wp-block-image:first-child img {
    width: 100% !important;
    display: block;
  }

  p,
  h2,
  h3,
  h4,
  figcaption {
    color: theme('colors.dinko-tamnoplava');
    width: 100%;
    text-align: left;
    max-width: 1024px;
    @media only screen and (min-width: 1044px) {
      padding-inline: 0;
    }
    padding-inline: 1rem;
  }

  h2 {
    font-size: theme('fontSize.4xl');
    font-weight: normal;
    line-height: 112%;
  }

  h3 {
    font-size: theme('fontSize.3xl');
    font-weight: 500;
    line-height: theme('lineHeight.baseLineHeight');

    @media only screen and (min-width: theme('screens.lg')) {
      font-size: theme('fontSize.3xl');
    }

    font-size: theme('fontSize.2xl');
  }

  h4 {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: theme('fontSize.xl');

    line-height: theme('lineHeight.baseLineHeight');
  }

  p {
    font-size: theme('fontSize.base');
    line-height: theme('lineHeight.blogParaLineHeight');
    text-wrap: balance;
  }

  figcaption {
    font-style: italic;
    font-size: theme('fontSize.xs');

    @media only screen and (min-width: theme('screens.lg')) {
      font-size: theme('fontSize.sm');
    }
    padding-top: 0.15rem;
  }
}
